.section {
	width: 800px;
	background: #EFEFEF;
	margin: 0 0 0px;    
}

ul.tabs {
	height: 28px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;
	background: #FFF;
}

.tabs li {
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 13px 1px;
	color: #777;
	cursor: pointer;
	background: #F9F9F9;
	border: 1px solid #E4E4E4;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
}
.tabs li:hover,

.vertical .tabs li:hover {
	color: #000;
	padding: 0 13px;
	background: #EAEAEA; /* #FFFFEF; */ 
	border: 1px solid #CACACA;
}

.tabs li.current {
	color: #444;
	background: #EFEFEF;
	padding: 0 13px 2px;
	border: 1px solid #D4D4D4;
	border-bottom: 1px solid #EFEFEF;
}

.box {
	display: none;
	border: 1px solid #DEDEDE;
    border-width: 1px 1px 0 1px;
	background: #FFF;
	padding: 12px;
}

.box.visible {
	display: block;
}

.section.vertical {
	width: 700px;
	border-left: 200px solid #FFF;
}

.vertical .tabs {
	width: 200px;
	float: left;
	display: inline;
	margin: 0 0 0 -200px;
}

.vertical .tabs li {
	padding: 0 13px;
	margin: 0 0 1px;
	border: 1px solid #E4E4E4;
	border-right: 1px solid #F9F9F9;
	width: 172px;
	height: 25px;
    font-size: 11px;    
}

.vertical .tabs li:hover {
	width: 172px;
}

.vertical .tabs li.current {
	width: 172px;
	color: #444;
	background: #EFEFEF;       
	border: 1px solid #D4D4D4;
    border-right: 1px solid #EFEFEF;
    margin-right: -1px;
    font-size: 11px;
    color: #0054A8;
}

.vertical .box {  
  border-width: 1px 1px 0 1px;
}
